<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="softdonating.map.DonateMapper">

    <insert id="createDonate" parameterType="Donate" statementType="PREPARED"
            keyProperty="d_ID" useGeneratedKeys="true">
        insert into Donate (d_ID,u_ID,isbn,status,donate_time) values
        (#{d_ID},#{u_ID},#{isbn},#{status},#{donate_time})
    </insert>

</mapper>